# JUCE-style formatting for Jane-Sixty.
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Empty
SpaceBeforeParens: Always
SpacesInParentheses: false
SpaceAfterTemplateKeyword: true
PointerAlignment: Left
AlignConsecutiveAssignments: false
AlignTrailingComments: true
NamespaceIndentation: None
FixNamespaceComments: true
IncludeBlocks: Preserve
SortIncludes: false
